.small-charm {
    width: 40px;
    aspect-ratio: auto 40 / 40;
    height: 40px;
}

.medium-charm {
    width: 30px;
    aspect-ratio: auto 30/56;
    height: 56px;
}

.large-charm {
    width: 28px;
    aspect-ratio: auto 28 / 84;
    height: 84px;
}