.title {
    background-image: url("./../../../images/title-backgound.jpeg");
    font-family: "Exocet Blizzard", sans-serif;
    color: #bd9b4e;
    text-align: center;
    font-size: 40px;
    background-position: center;
    margin-bottom: 20px;
}